* {
  font-family: Arial, sans-serif;
}

body {
  background: #e4e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #2563eb;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 500px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}


form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: #ef4444;
  padding: 5px 8px;
  font-size: 12px;
}

.delete-btn:hover {
  background: #dc2626;
}
